<div class="container-fluid">
    <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h3">Please sign in</h1>
        </div>
        <div>
            <form [formGroup]="form" (ngSubmit)="save()">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="user">
                  <label for="floatingInput">Username</label>
                  <div *ngIf="form.get('user')?.hasError('required')" class="invalid-feedback" style="display: block; color: red;">
                    El nombre de usuario es requerido.
                  </div>
                  <div *ngIf="form.get('user')?.hasError('minlength')" class="invalid-feedback" style="display: block; color: red;">
                    El nombre de usuario debe tener al menos 3 caracteres.
                  </div>
                  <div *ngIf="form.get('user')?.hasError('maxlength')" class="invalid-feedback" style="display: block; color: red;">
                    El nombre de usuario no debe tener más de 20 caracteres.
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                  <label for="floatingPassword">Password</label>
                  <div *ngIf="form.get('password')?.hasError('required')" class="invalid-feedback" style="display: block; color: red;">
                    The password is required.
                  </div>
                  <div *ngIf="form?.get('password')?.hasError('minlength')" class="invalid-feedback" style="display: block; color: red;">
                    The password must have at least 8 characters.
                  </div>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="form.invalid">Sign in</button>
              </form>
        </div>
      </main>
    </div>
  </div>
  